.setter-main-container {
    width: 100%;
    min-height: 100vh;
  
    .setter-main-container-header {
      display: flex;
      align-items: center;
      .setter-main-container-header-nav {
        flex-grow: 4;
      }
    }
  }
  
  .setter-page-header {
    .ant-tabs-nav {
      margin: 0;
    }
  
    .ant-page-header-content {
      padding: 0;
    }
  }
  
  .setter-main-footer {
    text-align: center;
    padding: 0;
  }
  

 